<!DOCTYPE html>
<html>
  <head>
    <title>EmptyChairs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/x-icon" href="<%= image_url('chair.png') %>" />
  </head>
    <script>
      window.bannerUrl = '<%= image_url('back.jpg') %>'
      window.logoUrl = '<%= image_url('logo.png') %>'
    </script>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>"
        }
      </script>
    <% end %>
  <body>
    <%= yield %>
  </body>
</html>
<!-- <img src={window.bannerUrl}/> -->